.App {
    background-color: #efefef;
    overflow: hidden;
}

.get-user-information {
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar {
    width: 100vw;
    position: fixed;
}

.navbar-link a {
    text-decoration: none;
    color: white;
}

.navbar-link a:hover {
    color: #a0a0a0;
}

.check-speed-btn {
    width: 300px;
    height: 120px;
    padding: 10px 16px;
    border-radius: 50px;
    font-size: 20px !important;
    background-color: #002c56 !important;
}

.user-info-card {
    width: 300px;
}

.move-to-right {
    transition: all 2s ease-in-out;
    transform: translateX(35%);
}